html {
  color-scheme: dark;
  font-family: system-ui;
  height: 100%;
}


#app {
  color-scheme: dark;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
}

.titleEntry {
  width: 20vw;
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw 1vw 1vw 1vw;
}

.mainContent {
  width: 80%
}

.numEntry {

  width: 30px;
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw 1vw 1vw 1vw;
}

label {
  text-align: right;
  font-weight: 200;
}

.infoBox {
  background-color: mediumseagreen;
  width: 60%;
  color: #f7fbff;
  font-weight: 700;
  padding: .5vw .5vw .5vw .5vw;
  margin: .5vw .5vw .5vw .5vw;
}

.textEntry {
  width: 30vw;
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw 1vw 1vw 1vw;
}

.submitBtn {
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  margin: 2px 4px;
  cursor: pointer;
  margin-top: 30px;
}



.submitBtn:hover {
  background-color: #425df5;
  transform: scale(0.97);
  transition: all 0.3s ease-in-out;
}




.ModalOutside {
  position: float;
  top: 100;
  left: 0;
  width: 500px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  z-index: 9999;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 0 auto;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
}



.exercise-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columns */
  grid-template-rows: repeat(2, auto);
  /* 2 rows */
  gap: 12px;
}

.item {
  background: #f0f0f0;
  padding: 5px;
  border-radius: 8px;
  color: black;
}

.detailsTitle {
  font-weight: 600;
}

h2 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  display: block;
  width: 100vw;
}

.exercisePhoto {
  width: 75%;
  height: 75%;
  border-Radius: 8;
  align-items: center;
  justify-content: center;
}

.photos {
  width: 90%;
  border-Radius: 8;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
