html {
  color-scheme: dark;
  font-family: system-ui;
  height: 100%;
}

#app {
  color-scheme: dark;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
}

.titleEntry {
  width: 20vw;
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw 1vw 1vw 1vw;
}

.mainContent {
  width: 80%
}

.numEntry {

  width: 30px;
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw 1vw 1vw 1vw;
}

label {
  text-align: right;
  font-weight: 200;
}

.infoBox {
  background-color: mediumseagreen;
  width: 60%;
  color: #f7fbff;
  font-weight: 700;
  padding: .5vw .5vw .5vw .5vw;
  margin: .5vw .5vw .5vw .5vw;
}

.textEntry {
  width: 30vw;
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw 1vw 1vw 1vw;
}

.submitBtn {
  border-radius: 10px;
  background-color: #4287f5;
  color: #f7fbff;
  font-weight: 700;
  border: none;
  padding: 1vw;
  margin: 2px 4px;
}

.submitBtn:hover {
  background-color: #425df5;
  transform: scale(0.97);
  transition: all 0.3s ease-in-out;
}

.ModalOutside {
  background: #f2f2f2;
  border-radius: 8px;
  padding: 5px;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  color: darkgray; 
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
}

.ModalInside{

            background: #000;
            border-Radius: 8;
            padding: 10;
            max-Width: 500;
            max-Height: 80vh;
            overflow-y: auto;
            color: darkgray; 
            box-Shadow: '0 4px 6px rgba(0, 0, 0, 0.1)'


}


